# API Configuration
API_URL=http://localhost:3000

# Base URL for redirects (used to construct subdomain URLs)
BASE_URL=http://localhost:5173

# Firebase Cloud Messaging ID (optional)
FCM_ID=emwmDAmUkgPGfOjN8xP3oP:APA91bG5c0e9GC_CPsfVLONzHiSH6Bz_JNPzQxsC5Dfc3UcpKEru7sxnO7kxVA944dH3rqi4gLy50Rm_ym7fEE4FErjxWKdRfrDvUzOXPIyYH1ko5lXMSAU
